#personal-info{
    height: 600px;
    /*background-color: #2aabd2;*/
}

#match-info{
    /*height: 1300px;*/
    /*background-color: #1b6d85;*/
}
.large-avatar{
    display: table;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
}
#user-info{

}

#user-description{
    border-bottom: solid 1px black;
}

.centralize{
    width: 200px;
    display: table;
    margin-left:auto;
    margin-right:auto;
}

#switchs{
    width: 100%;
    margin-top:30px;
}

.match-pic{
    width: 200px;
    height: 200px;

}
.match-instance{
    /*background-color: #4cae4c;*/
    float: left;
    margin-left:20px;
    margin-right:20px;
    transition: transform .3s;
    cursor: pointer;
}
.match-instance:hover{
    box-shadow: 0px 0px 10px 0 #336699;
    transform:  scale(1.1);
    transition: transform .3s ,box-shadow.3s;
    /*transition: box-shadow .3s;*/
}

.my-match-img{
    width:150px;
    float: left;
    margin: 5px;
}

/*显示结构*/
/*#personal-info{ background-color: #1b6d85; }*/
/*#user-description{ background-color: chocolate; }*/
/*#match-info{ background-color: #2b542c; }*/
/*#avatar{ background-color: #3c3c3c; }*/
/*#switchs{ background-color: #4cae4c; }*/